@()

@main("About") {
  <h1>About</h1>
  I am learning Scala so as I learn, I will modify this site to document what I learn and hope to help others learn.
  <br>
  <br>
  The source for this site is available <a href="https://gitlab.com/CraigTreptow/learningscala-dev">here</a>
}
