@(sum: Long)

@main("learningscala.dev") {
  <h1>Welcome to learningscala.dev!</h1>
  <ul>
    <li><a href="/about">About</a>
    <li><a href="https://gitlab.com/CraigTreptow/learningscala-dev/-/issues">To Do</a>
  </ul>
  <h1>The sum is @sum!</h1>
}
